node_modules/
.next/
.env
.env.local
*.tsbuildinfo
next-env.d.ts
# Imágenes subidas por usuarios
public/uploads/noticias/*
!public/uploads/noticias/.gitkeep
public/uploads/perfiles/*
!public/uploads/perfiles/.gitkeep
data/
backups/
ssl/
.env.production
.env.local.docker